<div class="row">
    <% for(i=0; i<blogpost.length; i++) { %>
    <div data-mdb-toggle="animation"
         data-mdb-animation-start="onScroll"
         data-mdb-animation="fade-in"
         data-mdb-animation-delay="300"
         class="col-md">
        <a href="/journal/<%= blogpost[i]._id %>">
            <h3 class="fw-bolder"><%= blogpost[i].title %></h3>
        </a>
        <p class="lead">
            Here you will find the most recent blogs. You can read them
            by clicking on the image or the title as shown.
            <br>
            Posted By <%= blogpost[i].email %>
        </p>
        <p>
            <strong>Posted On <%= blogpost[i].datePosted.toLocaleString() %></strong>
        </p>
    </div>
    <div data-mdb-toggle="animation"
         data-mdb-animation-start="onScroll"
         data-mdb-animation="fade-in"
         data-mdb-animation-delay="500"
         class="col-md">
        <a href="/journal/<%= blogpost[i]._id %>">
            <img src="<%= blogpost[i].image %>"
                 class="img-fluid shadow-lg rounded"
                 alt="img" />
        </a>
    </div>
    <% } %>
</div>