<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header') -%>
<%- include('layouts/navbar') -%>
  <body>

  <main class="bg">
    <div class="container">
      <h1 data-mdb-toggle="animation"
          data-mdb-animation="fade-in-down"
          data-mdb-animation-start="onLoad"
          class="display-2 text-center">
        Democracy & Dissent
      </h1>
      <h1 class="text-center">Filming Studios & Productions</h1>
      <hr class="line" />
      <div class="row mt-5 mb-5">
        <div class="col-md p-2">
          <h1 data-mdb-toggle="animation"
              data-mdb-animation-start="onLoad"
              data-mdb-animation="fade-in-left"
              data-mdb-animation-delay="300"
              class="display-4 title">
            Page Title
          </h1>
          <p data-mdb-toggle="animation"
             data-mdb-animation-start="onLoad"
             data-mdb-animation="fade-in-left"
             data-mdb-animation-delay="500"
             class="lead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium amet asperiores debitis dolorem ducimus eius enim illum libero necessitatibus.
          </p>
          <a href="mailto:#!" class="btn btn-black rounded-pill w-50">Message us</a>

        </div>
        <div data-mdb-toggle="animation"
             data-mdb-animation-start="onLoad"
             data-mdb-animation="fade-in-right"
             data-mdb-animation-delay="700"
             class="col-md p-2">
          <iframe width="100%" height="338" src="https://www.youtube.com/embed/bdaVzNkcySA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </main>

  <div class="container section-space">
    <%- include('components/videos') -%>
  </div>

  <article>
    <div class="container section-space">
      <p class="lead">Want To See More Videos? <a href="https://www.youtube.com/channel/UCVnM7MvYo98WIDwUjPay-Zg" target="_blank">Subsrcibe</a> to our YoutTube Channel</p>
      <%- include('components/imageCarousel') -%>
    </div>
  </article>

  <article class="block">
    <div class="container">
      <h1 class="display-2 fw-bolder text-center">About Us</h1>
      <div class="row text-center">
        <div class="col-md p-2">
          <img src="/img/Frank_picture2.png" class="rounded-circle h-25 img-fluid" alt="frank">
          <br>
          <h2>Frank Jr Battaglia</h2>
          <h4>Producer, Story and Script Consultant, Post Production Supervisor, Field Producer</h4>
          <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam atque eius illum laborum minima minus.
          </p>
          <a href="mailto:#!" class="btn btn-white rounded-pill btn-lg">email me</a>
        </div>
        <div class="col-md p-2">
          <img src="/img/Spirer_pic.png" class="rounded-circle h-25 img-fluid" alt="frank">
          <br>
          <h2>Frank Jr Battaglia</h2>
          <h4>Producer, Story and Script Consultant, Post Production Supervisor, Field Producer</h4>
          <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam atque eius illum laborum minima minus.
          </p>
          <a href="mailto:#!" class="btn btn-white rounded-pill btn-lg">email me</a>
        </div>
        <div class="col-md p-2">
          <img src="/img/Ener_suit.png" class="rounded-circle h-25 img-fluid" alt="frank">
          <br>
          <h2>Ener Misterener</h2>
          <h4>AKA Misterener, relocated to Toronto from Brazil  in 2017</h4>
          <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam atque eius illum laborum minima minus.
          </p>
          <a href="mailto:#!" class="btn btn-white rounded-pill btn-lg">email me</a>
        </div>
      </div>
    </div>
  </article>

  <section>
    <div class="container section-space text-center">
      <h1>Community Membership</h1>
      <p class="lead">
        Join us On YouTube and signup on my site to share blogs and upload articles.
      </p>
      <a href="#!" class="btn btn-black w-50 rounded-pill">Register</a>
      <br>
      <img src="https://scribie.com/assets/front/illustrations/Welcome-to-scribie-512x391.svg"
           class="img-fluid mt-3 rounded-circle"
           style="height: 290px;"
           alt="signup" />
    </div>
  </section>

  <%- include('layouts/footer') -%>
  </body>
  <%- include('layouts/scripts') -%>
</html>
