<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header') -%>
<%- include('layouts/navbar') -%>
  <body>

  <main class="intro-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-white pt-4">
          <h1 data-mdb-toggle="animation"
              data-mdb-animation-start="onLoad"
              data-mdb-animation="fade-in-down"
              data-mdb-animation-delay="200"
              class="display-2">
            Stop The Wheel
          </h1>
          <h1 data-mdb-toggle="animation"
              data-mdb-animation-start="onLoad"
              data-mdb-animation="fade-in-left"
              class="display-2"
              data-mdb-animation-delay="400">
            Productions
          </h1>
          <h4 data-mdb-toggle="animation"
              data-mdb-animation-start="onLoad"
              data-mdb-animation="fade-in-up"
              data-mdb-animation-delay="600"
              style="letter-spacing: 9px;">
            "The truth is not what you think."
          </h4>
        </div>
      </div>
    </div>
  </main>

  <div class="container" style="margin-top: 70px; margin-bottom: 70px;">
    <div class="row">
      <div class="col-md-6 p-2 text-white">
        <h1 data-mdb-toggle="animation"
            data-mdb-animation-start="onScroll"
            data-mdb-animation-on-scroll="repeat"
            data-mdb-animation="fade-in-left">
          Title
        </h1>
        <p data-mdb-toggle="animation"
           data-mdb-animation-start="onScroll"
           data-mdb-animation-on-scroll="repeat"
           data-mdb-animation="fade-in-left"
           data-mdb-animation-delay="200"
           class="lead">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet autem blanditiis corporis exercitationem facilis, harum inventore iste iusto libero.
        </p>
        <div data-mdb-toggle="animation"
             data-mdb-animation-start="onScroll"
             data-mdb-animation-on-scroll="repeat"
             data-mdb-animation="fade-in-left"
             data-mdb-animation-delay="400">
          <a href="#!" class="btn btn-white rounded-pill">more articles</a>
        </div>
      </div>
      <div class="col-md-6 p-2">
        <iframe width="100%" height="338" src="https://www.youtube.com/embed/bdaVzNkcySA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="container-fluid text-white" style="margin-top: 70px;">
    <h1 class="display-5 p-3">Recent Production Images....</h1>
    <div class="multi-carousel">
      <div class="multi-carousel-inner">
        <div data-mdb-toggle="animation"
             data-mdb-animation-start="onScroll"
             data-mdb-animation-on-scroll="repeat"
             data-mdb-animation="fade-in-up"
             class="multi-carousel-item">
          <img src="https://media.istockphoto.com/photos/cameraman-recording-with-his-equipment-picture-id1308594176?b=1&k=20&m=1308594176&s=170667a&w=0&h=vMOm-Bdqs_lGDPc6kwDnovCtIwoRKKYZ01qqRudMHZk=" alt="Table Full of Spices" class="w-100"/>
        </div>
        <div data-mdb-toggle="animation"
             data-mdb-animation-start="onScroll"
             data-mdb-animation-on-scroll="repeat"
             data-mdb-animation="fade-in-up"
             data-mdb-animation-delay="200"
             class="multi-carousel-item">
          <img src="https://media.istockphoto.com/photos/cameraman-recording-with-his-equipment-picture-id1308594176?b=1&k=20&m=1308594176&s=170667a&w=0&h=vMOm-Bdqs_lGDPc6kwDnovCtIwoRKKYZ01qqRudMHZk=" alt="Winter Landscape" class="w-100"/>
        </div>
        <div data-mdb-toggle="animation"
             data-mdb-animation-start="onScroll"
             data-mdb-animation-on-scroll="repeat"
             data-mdb-animation="fade-in-up"
             data-mdb-animation-delay="300"
             class="multi-carousel-item">
          <img src="https://media.istockphoto.com/photos/cameraman-recording-with-his-equipment-picture-id1308594176?b=1&k=20&m=1308594176&s=170667a&w=0&h=vMOm-Bdqs_lGDPc6kwDnovCtIwoRKKYZ01qqRudMHZk=" alt="View of the City in the Mountains" class="w-100"/>
        </div>
        <div data-mdb-toggle="animation"
             data-mdb-animation-start="onScroll"
             data-mdb-animation-on-scroll="repeat"
             data-mdb-animation="fade-in-up"
             data-mdb-animation-delay="400"
             class="multi-carousel-item">
          <img src="https://media.istockphoto.com/photos/cameraman-recording-with-his-equipment-picture-id1308594176?b=1&k=20&m=1308594176&s=170667a&w=0&h=vMOm-Bdqs_lGDPc6kwDnovCtIwoRKKYZ01qqRudMHZk=" alt="Place Royale Bruxelles" class="w-100"/>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" tabindex="0" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </button>
      <button class="carousel-control-next" type="button" tabindex="0" data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </button>
    </div>
  </div>

  <div class="container" style="margin-top: 90px; margin-bottom: 70px;">
    <% for(i=0; i<project.length; i++){ %>
    <div class="row">
      <div class="col-md-6 p-2">
        <img src="<%= project[i].image %>"
             class="img-fluid rounded"
             style="max-height: 380px; width:100%;"
             alt="img"
        />
      </div>
      <div class="col-md-6 p-2 text-white">
        <h1 data-mdb-toggle="animation"
            data-mdb-animation-start="onScroll"
            data-mdb-animation-on-scroll="repeat"
            data-mdb-animation="fade-in-right">
          <span class="display-5 text-warning">New Project</span> <br>
          <%= project[i].title %>
        </h1>
        <p data-mdb-toggle="animation"
           data-mdb-animation-start="onScroll"
           data-mdb-animation-on-scroll="repeat"
           data-mdb-animation="fade-in-right"
           data-mdb-animation-delay="200"
           class="lead">
          <%= project[i].message %>
        </p>
        <div data-mdb-toggle="animation"
             data-mdb-animation-start="onScroll"
             data-mdb-animation-on-scroll="repeat"
             data-mdb-animation="fade-in-right"
             data-mdb-animation-delay="400">
          <a href="/project/<%= project[i]._id %>" class="btn btn-white rounded-pill">Read More</a>
        </div>
      </div>
    </div>
    <% } %>
  </div>


  <%- include('layouts/footer') -%>
  </body>
  <%- include('layouts/scripts') -%>
</html>
