<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') -%>
<body class="bg">

  <!--Navbar-->
  <%- include('layouts/navbar') -%>
  <!-- Navbar -->

  <!-- Full Page Intro -->
  <div class="view" style="background-image: url('<%= blogpost.image %>'); height: 280px; background-repeat: no-repeat; background-size: cover; background-position: center center;">

  </div>
  <!-- Full Page Intro -->


  <div class="container mt-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/journals">Journals</a></li>
        <li class="breadcrumb-item text-white" aria-current="page">
          <%= blogpost.title %>
        </li>
      </ol>
    </nav>
    <h1 class="h1-reponsive pt-3 pb-3 text-uppercase font-weight-bold mb-0 wow fadeInDown" data-wow-delay="0.3s">
      <strong><%= blogpost.title %></strong></h1>
    <p class="lead">
      Created On <%= blogpost.datePosted.toLocaleString() %> By <%= blogpost.email %>
    </p>
  </div>

  <div class="container text-center mb-5">
    <!--Grid row-->
    <div class="row-cols-8 py-3 justify-content-center align-items-center text-center me-2 mx-auto d-flex">
      <!--Grid column-->
      <p class="lead">
        <%= blogpost.message %>
      </p>
      <!--Grid column-->

    </div>
    <p>
      <a href="mailto:<%= blogpost.email %>">Message</a> Author about this article.
    </p>
    <!--Grid row-->
  </div>

<!-- Footer -->
<%- include('layouts/footer') -%>
<!-- Footer -->

<%- include('layouts/scripts') -%>

</body>
</html>
