<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') -%>
<body class="bg">

<!--Navbar-->
<%- include('layouts/navbar') -%>
<!-- Navbar -->


<div class="container p-2 mt-5 text-center mb-5">
    <!-- Default form register -->
    <form class="text-center p-2" action="/users/register" method="post">

        <h1 class="h1 mb-4">Sign up</h1>
        <p class="lead">
            Already have an account? <a href="/auth/login">Login</a>.
        </p>

        <% if(errors != null && errors.length > 0) { %>
            <ul class="list-group">
                <% for(let i = 0; i < errors.length; i++){ %>
                    <li class="list-group-item list-group-item-danger">
                        <%= errors[i] %>
                    </li>
                <% } %>
            </ul>
        <% } %>

        <div class="md-form">
            <!-- First name -->
            <input type="text" id="username" name="username" class="form-control mb-3 md-textarea" placeholder="Username">
        </div>

        <div class="md-form">
            <!-- First name -->
            <input type="text" id="roles" name="roles" class="form-control mb-3 md-textarea" placeholder="Enter Your Role ID here if known">
        </div>

        <!-- E-mail -->
        <div class="md-form">
            <input type="email" id="email" name="email" class="form-control mb-3 md-textarea mb-4" placeholder="E-mail">
        </div>

        <!-- Password -->
        <div class="md-form">
            <!-- First name -->
            <input type="password" id="password" name="password" class="form-control mb-3 md-textarea" placeholder="Password">
        </div>

        <!--Message-->
        <div class="md-form">
            <textarea id="materialContactFormMessage" placeholder="Describe yourself, in a brief way." name="about" class="form-control md-textarea" rows="5"></textarea>

        </div>

        <!-- Sign up button -->
        <button class="btn btn-info my-4 btn-block" type="submit">Sign Up</button>

        <hr>

        <!-- Terms of service -->
        <p>By clicking
            <em>Sign up</em> you agree to our
            <a href="" target="_blank">terms of service</a>

    </form>
    <!-- Default form register -->
</div>

<!--Main Layout-->

<!-- Footer -->
<%- include('layouts/footer') -%>
<!-- Footer -->

<%- include('layouts/scripts') -%>

</body>
</html>
